In [1]:
import pandas as pd

import pyodbc

In [49]:
conn = pyodbc.connect("DRIVER={SQL Server};"
                                  "SERVER=MIIPL_ON_KULDEE\SQLEXPRESS;"
                                  "DATABASE=SBM_Recon_data;"
                                  "UID=sa;"
                                  "PWD=P@ss1234;")

In [10]:
conn.execute('select * from dbo.ML_ReversalTxns;')

In [70]:
result_df = pd.read_csv('D:\Maximus\RECON_DISPUTE_PREDICTIONS\dispute_predictions\code\Prediction_Output_File\most_dispute_raised.csv')

In [72]:
result_df.drop(columns='Unnamed: 0', inplace=True)

In [82]:
result_df.rename(columns={'index':'Most_disputed_Cards','CardNumber' : 'No_of_disputes' }, inplace=True)

In [84]:
from sqlalchemy import create_engine
import urllib
import pyodbc

quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=MIIPL_ON_KULDEE\SQLEXPRESS;DATABASE=SBM_Recon_data;UID=sa;PWD=P@ss1234;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

result_df.to_sql('Most_Disputed_Cards', schema='dbo', con = engine, chunksize=200, method='multi', index=False, if_exists='replace')

In [83]:
result_df

                                 Most_disputed_Cards  No_of_disputes
0  AlKJWI5D2uH7NeLY6MTWrcvvjHvzcZfa34ZrJE3/mWaQ7f...              20
1  QZ16NKI+IiLaKTYpLCPBw6T0jyu51nk6yfxidIuu1x+B/z...               8
2  4emVbMsaZC8EoJuZ3c/Ns+NGNVRlst6QeLOkAiGmarmwf8...               6
3  NPXCa/xTlqm/LnIGI4zmGMez4K7DCLb2sWSiK7DkhHoO5R...               4
4  Nw6brDs6hOQHm3iIiQpL/hEx/1eBCTwq6z9IBKh9Qk4w4y...               4
5  DuGbANX1iW8IWcKHehsG9viKAa8pDm8NIXnmdPj6rGK4DW...               3

In [42]:
df_1 = pd.read_sql_query('select * from dbo.MOST_Disputed_Cards;', conn)

In [43]:
df_1

Empty DataFrame
Columns: [Card_Nuber, No_of_disputes]
Index: []

In [31]:
conn.execute('create table testing1 (t1 varchar, t2 varchar);')
conn.close()

In [35]:
conn.execute('INSERT INTO testing1(t1,t2) VALUES (%s,%s)',%('thavasi','mumbai'))

SyntaxError: invalid syntax (Temp/ipykernel_6104/1014352191.py, line 1)

In [34]:
conn.execute('insert into testing1 (t1, t2) values (%s , %d' )', %('kuldeep', 29))
conn.close()

SyntaxError: invalid syntax (Temp/ipykernel_6104/4039424409.py, line 1)

In [14]:
conn.close()

In [6]:
result_df = pd.read_csv('D:\Maximus\RECON_DISPUTE_PREDICTIONS\dispute_predictions\code\Prediction_Output_File\most_dispute_raised.csv')

In [7]:
try:
    #conn.execute('DROP TABLE IF EXISTS Most_disputed_cards')
    conn.execute('create table testing (test1 varchar, test2 integer);')
    conn.close()
except:
    raise Exception

In [6]:
df_1 = pd.read_sql_query('select * from dbo.ML_ReversalTxns;', conn)

In [8]:
df_1.shape

(504, 35)

In [9]:
df_2.shape

(4995, 36)

In [7]:
df_2 = pd.read_sql_query('select * from dbo.ML_UnmatchedTxns;', conn)

In [13]:
df = pd.concat([df_1, df_2], axis=0)

In [14]:
df.shape

(5499, 37)

In [17]:
df['CardNumber'].value_counts()

2Z+DSGKUCYRZSe91G3cqmEduSdt6vUCSKDokeqh17QhWQ4rkK5Pigg==    61
Jub7ZglrKhAxgQxh8K1c0EBk6QYHghY8M0VFTGXO0SwiRjz4td3u3A==    29
Jub7ZglrKhAxgQxh8K1c0EBk6QYHghY8hrGiSHXIRz9La7Zb9vMk7w==    24
Jub7ZglrKhAxgQxh8K1c0EBk6QYHghY89rAfpUZw+zD57mmXtnOF9w==    23
Jub7ZglrKhAxgQxh8K1c0EBk6QYHghY8GH3DLLR99c1ij8CIzDCkCQ==    20
                                                            ..
hn/J8r6B+xhmNHC2UAOsNuVIx5X6kSik6zzauMR5bO5SBRYiFAMr5Q==     1
Jub7ZglrKhAxgQxh8K1c0EBk6QYHghY8c+ZqH/Wzm52GaXvodokW4w==     1
51ZoFHJQ/JUAIrFUTKGMKaofhE1hrYZCeVBq8slsugJXvy5y0fAcqg==     1
gOP5OlUXlW3oke+W3WzBVneNtZmP5Qq6cdDw5VpC4VPIU2znOJZPvA==     1
OtpahM84581vPdCXaZPcZMAuq8ZmIYLW/Kw3luJttqOe36FQMiqbWw==     1
Name: CardNumber, Length: 2390, dtype: int64

In [43]:
df = pd.concat(pd.read_excel('RawDataFile/SBM_ReconReports_feb.xls',sheet_name=None), ignore_index=True)

In [44]:
df.columns

Index(['SuccessfulID', 'ClientID', 'ChannelID', 'ModeID', 'TerminalId',
       'ReferenceNumber', 'CardNumber', 'CardType', 'TxnsValueDateTime',
       'TxnsDateTime', 'TxnsAmount', 'ActualTxnsAmount', 'GLStatus',
       'EJStatus', 'NWStatus', 'SWStatus', 'ReconType', 'CustAccountNo',
       'ATMAccountNo', 'DrCrType', 'TxnsType', 'TxnsSubType', 'TxnsEntryType',
       'TxnRemarks', 'IsSettled', 'OnSettled', 'SettledRemarks', 'SettledBy',
       'Aging', 'IsRemoved', 'TxnsParticulars', 'CreatedBy', 'CreatedOn',
       'ModifiedBy', 'ModifiedOn', 'Status', 'UnmatchedID', 'RapiRemarks',
       'UnsuccessfulID'],
      dtype='object')

In [45]:
col_dtype = dict(df.dtypes)

In [46]:
columns = col_dtype.keys()
dtypes = col_dtype.values()

In [47]:
col_dtype

{'SuccessfulID': dtype('float64'),
 'ClientID': dtype('int64'),
 'ChannelID': dtype('int64'),
 'ModeID': dtype('int64'),
 'TerminalId': dtype('O'),
 'ReferenceNumber': dtype('int64'),
 'CardNumber': dtype('O'),
 'CardType': dtype('float64'),
 'TxnsValueDateTime': dtype('<M8[ns]'),
 'TxnsDateTime': dtype('<M8[ns]'),
 'TxnsAmount': dtype('int64'),
 'ActualTxnsAmount': dtype('int64'),
 'GLStatus': dtype('int64'),
 'EJStatus': dtype('int64'),
 'NWStatus': dtype('int64'),
 'SWStatus': dtype('int64'),
 'ReconType': dtype('O'),
 'CustAccountNo': dtype('O'),
 'ATMAccountNo': dtype('float64'),
 'DrCrType': dtype('O'),
 'TxnsType': dtype('O'),
 'TxnsSubType': dtype('O'),
 'TxnsEntryType': dtype('O'),
 'TxnRemarks': dtype('O'),
 'IsSettled': dtype('int64'),
 'OnSettled': dtype('<M8[ns]'),
 'SettledRemarks': dtype('O'),
 'SettledBy': dtype('O'),
 'Aging': dtype('float64'),
 'IsRemoved': dtype('int64'),
 'TxnsParticulars': dtype('O'),
 'CreatedBy': dtype('O'),
 'CreatedOn': dtype('<M8[ns]'),
 'ModifiedBy': dtype('O'),
 'ModifiedOn': dtype('<M8[ns]'),
 'Status': dtype('O'),
 'UnmatchedID': dtype('float64'),
 'RapiRemarks': dtype('float64'),
 'UnsuccessfulID': dtype('float64')}

In [18]:
result_df = pd.read_csv('D:\Maximus\RECON_DISPUTE_PREDICTIONS\dispute_predictions\code\Prediction_Output_File\most_dispute_raised.csv')

In [20]:
result_df.drop(columns='Unnamed: 0', inplace=True)

In [21]:
result_df.rename

                                               index  CardNumber
0  AlKJWI5D2uH7NeLY6MTWrcvvjHvzcZfa34ZrJE3/mWaQ7f...          20
1  QZ16NKI+IiLaKTYpLCPBw6T0jyu51nk6yfxidIuu1x+B/z...           8
2  4emVbMsaZC8EoJuZ3c/Ns+NGNVRlst6QeLOkAiGmarmwf8...           6
3  NPXCa/xTlqm/LnIGI4zmGMez4K7DCLb2sWSiK7DkhHoO5R...           4
4  Nw6brDs6hOQHm3iIiQpL/hEx/1eBCTwq6z9IBKh9Qk4w4y...           4
5  DuGbANX1iW8IWcKHehsG9viKAa8pDm8NIXnmdPj6rGK4DW...           3

In [22]:
TableName = 'Most_disputed_cards'
column_dtype = {'Card_Number' : 'varcahar', 'Number_of_disputes' : 'integer'}

In [28]:
try:
    #conn.execute('DROP TABLE IF EXISTS Most_disputed_cards')
    conn.execute('CREATE TABLE Most_disputed_cards(Card_Number nvarcahar(100), Number_of_disputes integer)')
    conn.close()
except:
    raise Exception

Exception:

In [48]:
for key, value in col_dtype.items():
    if col_dtype[key] == 'float64':
        col_dtype[key] = 'float'
    elif col_dtype[key] == 'int64':
        col_dtype[key] = 'Integer'
    elif col_dtype[key] == 'O':
        col_dtype[key] = 'varchar'
    elif col_dtype[key] == '<M8[ns]':
        col_dtype[key] = 'date'
    else:
        pass

In [49]:
col_dtype

{'SuccessfulID': 'float',
 'ClientID': 'Integer',
 'ChannelID': 'Integer',
 'ModeID': 'Integer',
 'TerminalId': 'varchar',
 'ReferenceNumber': 'Integer',
 'CardNumber': 'varchar',
 'CardType': 'float',
 'TxnsValueDateTime': 'date',
 'TxnsDateTime': 'date',
 'TxnsAmount': 'Integer',
 'ActualTxnsAmount': 'Integer',
 'GLStatus': 'Integer',
 'EJStatus': 'Integer',
 'NWStatus': 'Integer',
 'SWStatus': 'Integer',
 'ReconType': 'varchar',
 'CustAccountNo': 'varchar',
 'ATMAccountNo': 'float',
 'DrCrType': 'varchar',
 'TxnsType': 'varchar',
 'TxnsSubType': 'varchar',
 'TxnsEntryType': 'varchar',
 'TxnRemarks': 'varchar',
 'IsSettled': 'Integer',
 'OnSettled': 'date',
 'SettledRemarks': 'varchar',
 'SettledBy': 'varchar',
 'Aging': 'float',
 'IsRemoved': 'Integer',
 'TxnsParticulars': 'varchar',
 'CreatedBy': 'varchar',
 'CreatedOn': 'date',
 'ModifiedBy': 'varchar',
 'ModifiedOn': 'date',
 'Status': 'varchar',
 'UnmatchedID': 'float',
 'RapiRemarks': 'float',
 'UnsuccessfulID': 'float'}

In [17]:
conn.execute('DROP TABLE IF EXISTS good_data')

In [54]:
for key in columns:
    dtype = col_dtype[key]
    #print(str(key), str(dtype))
    conn.execute('CREATE TABLE training ({column_name} {dataType})'.format(column_name=str(key), dataType=str(dtype)))

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'training' in the database. (2714) (SQLExecDirectW)")